# Ports
TAVERN_RMQ_PORT=5672
TAVERN_REDIS_PORT=6379
TAVERN_AUTH_DB_PORT=5432
TAVERN_PROFILE_DB_PORT=5433

# Redis
TAVERN_REDIS_PASSWORD=123456

# RabbitMQ
TAVERN_RMQ_USER=temaxo
TAVERN_RMQ_PASSWORD=050906

# Auth DB
TAVERN_AUTH_DB_NAME=auth
TAVERN_AUTH_DB_USER=temaxo
TAVERN_AUTH_DB_PASSWORD=050906
TAVERN_AUTH_DB_URL=postgresql://${TAVERN_AUTH_DB_USER}:${TAVERN_AUTH_DB_PASSWORD}@auth-db:5432/${TAVERN_AUTH_DB_NAME}?schema=public

# Profile DB
TAVERN_PROFILE_DB_NAME=profile
TAVERN_PROFILE_DB_USER=temaxo
TAVERN_PROFILE_DB_PASSWORD=050906
TAVERN_PROFILE_DB_URL=postgresql://${TAVERN_PROFILE_DB_USER}:${TAVERN_PROFILE_DB_PASSWORD}@profile-db:5432/${TAVERN_PROFILE_DB_NAME}?schema=public
