# Ports
TAVERN_RMQ_PORT=5672
TAVERN_REDIS_PORT=6379
TAVERN_DB_PORT=5432

# Redis
TAVERN_REDIS_PASSWORD=123456

# RabbitMQ
TAVERN_RMQ_USER=temaxo
TAVERN_RMQ_PASSWORD=050906

# Auth DB
TAVERN_AUTH_DB_NAME=auth
TAVERN_AUTH_DB_USER=temaxo
TAVERN_AUTH_DB_PASSWORD=050906