# ALL_APPS_CONFIG
APPS_GLOBAL_SCOPE=TAVERN
TAVERN_DEV_MODE=true

# GATEWAY_CONFIG
TAVERN_ALLOWED_ORIGIN=http://localhost:3001
TAVERN_WINDOW_MS_MINUTES=20
TAVERN_REQUEST_LIMIT=3000

# PORTS
TAVERN_GATEWAY_PORT=3000