# ALL_APPS_CONFIG
APPS_GLOBAL_SCOPE=EXAMPLE
EXAMPLE_DEV_MODE=true

# GATEWAY_CONFIG
EXAMPLE_ALLOWED_ORIGIN=http://example.com:3001
EXAMPLE_WINDOW_MS_MINUTES=20
EXAMPLE_REQUEST_LIMIT=3000

# HTTP_PORTS
EXAMPLE_GATEWAY_PORT=3000
EXAMPLE_TASKS_GRPC_PORT=5000