# ALL_APPS_CONFIG
APPS_GLOBAL_SCOPE=TAVERN
TAVERN_DEV_MODE=true

# PORTS
TAVERN_GATEWAY_PORT=3000
TAVERN_AUTH_GRPC_PORT=5000

# GATEWAY_CONFIG
TAVERN_ALLOWED_ORIGIN=http://localhost:3001
TAVERN_WINDOW_MS_MINUTES=20
TAVERN_REQUEST_LIMIT=3000

TAVERN_AUTH_GRPC_URL=localhost:5000

# RMQ
TAVERN_RMQ_USER=user
TAVERN_RMQ_PASSWORD=123456
TAVERN_RMQ_URL=rabbitmq:5672

# DB_URLS
TAVERN_AUTH_DB_URL=postgresql://temaxo:050906@localhost:5432/auth?schema=public